{% extends 'base.html' %}
{% block head %}
    <title>Pokemon Database</title>
{% endblock%}

{% block body %}

<div class="text-center">
    <h1 class="display-4">Pokemon Database Management System</h1>
</div>
<p>Use the search function below to filter Pokemon within the Pokedex.</p>

<form method = "POST">
    <fieldset>
        <legend>Search Criteria</legend>
        <div class="form-group">
            <label for="trainerID">Enter Trainer ID</label>
            <input type="text" class="form-control" id="trainerID" name="trainerID" aria-describedby="trainerIDhelp" placeholder="Enter 6 Digit Trainer ID" maxlength="6">
        </div>
        <button type="submit" class="btn btn-primary" name="form1">Search</button>
    </fieldset>
</form>

<form method = "POST">
    <fieldset>
        <legend>Search Criteria</legend>
        <div class="form-group">
            <label for="pokedex">Enter Pokedex</label>
            <input type="text" class="form-control" id="pokedex" name="pokedex" aria-describedby="pokedex" placeholder="Enter Pokedex Number" maxlength="6">
        </div>
        <button type="submit" class="btn btn-primary" name="form2">Search</button>
    </fieldset>
</form>

<form method = "POST">
    <fieldset>
        <legend>Add Pokemon</legend>
        <div class="form-group">
            <label for="captureID">Enter captureID</label>
            <input type="text" class="form-control" id="captureID" name="captureID" aria-describedby="captureID" placeholder="Enter Capture ID" maxlength="6">
            <hr>
            <label for="trainerID">Trainer ID</label>
            <input type="text" class="form-control" id="trainerID" name="trainerID" aria-describedby="trainerID" placeholder="Enter Trainer ID" maxlength="6">
            <hr>
            <label for="pokedexNumber">Pokedex Number</label>
            <input type="text" class="form-control" id="pokedexNumber" name="pokedexNumber" aria-describedby="pokedexNumber" placeholder="Enter Pokedex Number" maxlength="6">
            <hr>
            <label for="pokemonLevel">Pokedex Level</label>
            <input type="text" class="form-control" id="pokemonLevel" name="pokemonLevel" aria-describedby="pokemonLevel" placeholder="Enter Pokemon Level " maxlength="6">
        </div>
        <button type="submit" class="btn btn-primary" name="form3">Add</button>
    </fieldset>
</form>

{% for item in data %}
<tr>
    <br>
    <td>{{item[0]}} {{item[1]}} {{item[2]}}</td>
</tr>
{% endfor %}

{% endblock %}