{% extends 'base.html' %}
{% block head %}
    <title>Pokemon Database</title>
{% endblock%}

{% block body %}

<div class="text-center">
    <h1 class="display-4">Pokemon Database Management System</h1>
</div>
<p>Use the search function below to filter Pokemon within the Pokedex.</p>

<form method = "POST">
    <fieldset>
        <button type="submit" class="btn btn-primary" name="logout">Logout</button>
    </fieldset>
</form>

<form method = "POST">
    <fieldset>
        <legend>Display Trainer Information</legend>
        <button type="submit" class="btn btn-primary" name="display_trainer">Click to Display Information</button>
    </fieldset>
</form>

<!--Pokedex Search-->

<form method = "POST">
    <fieldset>
            <legend>Pokedex Search</legend>

            <div class="form-group">
                <label for="trainerID_input">Pokemon Name:</label>
                <input type="text" class="form-control" id="inputPokemon" name="inputPokemon" aria-describedby="inputPokemon" placeholder="Enter Pokemon Name">
            </div>

            <div class="form-group">
                <label for="exampleSelect1">Type 1</label>
                <select class="form-control" id="selectType1" name="selectType1" aria-describedby="selectType1">
                    <option></option>
                    <option>Bug</option>
                    <option>Dark</option>
                    <option>Dragon</option>
                    <option>Electric</option>
                    <option>Fairy</option>
                    <option>Fighting</option>
                    <option>Fire</option>
                    <option>Flying</option>
                    <option>Ghost</option>
                    <option>Grass</option>
                    <option>Ground</option>
                    <option>Ice</option>
                    <option>Normal</option>
                    <option>Poison</option>
                    <option>Psychic</option>
                    <option>Rock</option>
                    <option>Steel</option>
                    <option>Water</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleSelect1">Type 2</label>
                <select class="form-control" id="selectType2" name="selectType2" aria-describedby="selectType2">
                    <option></option>
                    <option>Bug</option>
                    <option>Dark</option>
                    <option>Dragon</option>
                    <option>Electric</option>
                    <option>Fairy</option>
                    <option>Fighting</option>
                    <option>Fire</option>
                    <option>Flying</option>
                    <option>Ghost</option>
                    <option>Grass</option>
                    <option>Ground</option>
                    <option>Ice</option>
                    <option>Normal</option>
                    <option>Poison</option>
                    <option>Psychic</option>
                    <option>Rock</option>
                    <option>Steel</option>
                    <option>Water</option>
                </select>
            </div>

        <div class="form-group">
                <label for="exampleSelect1">Egg Group 1</label>
                <select class="form-control" id="selectEgg1" name="selectEgg1" aria-describedby="selectEgg1">
                    <option></option>
                    <option>Monster</option>
                    <option>Water 1</option>
                    <option>Bug</option>
                    <option>Flying</option>
                    <option>Field</option>
                    <option>Fairy</option>
                    <option>Grass</option>
                    <option>Human-Like</option>
                    <option>Water 3</option>
                    <option>Mineral</option>
                    <option>Amorphous</option>
                    <option>Water 2</option>
                    <option>Ditto</option>
                    <option>Dragon</option>
                    <option>Undiscovered</option>
                </select>
        </div>

            <div class="form-group">
                <label for="exampleSelect1">Egg Group 2</label>
                <select class="form-control" id="selectEgg2" name="selectEgg2" aria-describedby="selectEgg2">
                    <option></option>
                    <option>Monster</option>
                    <option>Water 1</option>
                    <option>Bug</option>
                    <option>Flying</option>
                    <option>Field</option>
                    <option>Fairy</option>
                    <option>Grass</option>
                    <option>Human-Like</option>
                    <option>Water 3</option>
                    <option>Mineral</option>
                    <option>Amorphous</option>
                    <option>Water 2</option>
                    <option>Ditto</option>
                    <option>Dragon</option>
                    <option>Undiscovered</option>
                </select>
        </div>

        <button type="submit" class="btn btn-primary" name="pokedex_search">Search</button>
    </fieldset>
</form>

<!--Display Entire Collection-->
<form method = "POST">
    <fieldset>
        <legend>Display Trainer Collection</legend>
        <button type="submit" class="btn btn-primary" name="displayCollection">Display Collection</button>
    </fieldset>
</form>

<!--Collection Search-->
<form method = "POST">
    <fieldset>
            <legend>Trainer Collection Search</legend>

            <div class="form-group">
                <label for="trainerID_input">Pokemon Name:</label>
                <input type="text" class="form-control" id="collectionInputPokemon" name="collectionInputPokemon" aria-describedby="collectionInputPokemon" placeholder="Enter Pokemon Name">
            </div>

        <button type="submit" class="btn btn-primary" name="collection_search">Search</button>
    </fieldset>
</form>


<form method = "POST">
    <fieldset>
        <legend>Search Criteria</legend>
        <div class="form-group">
            <label for="trainerID">Enter Trainer ID</label>
            <input type="text" class="form-control" id="trainerID" name="trainerID" aria-describedby="trainerIDhelp" placeholder="Enter 6 Digit Trainer ID" maxlength="6">
        </div>
        <button type="submit" class="btn btn-primary" name="form1">Search</button>
    </fieldset>
</form>

<form method = "POST">
    <fieldset>
        <legend>Search Criteria</legend>
        <div class="form-group">
            <label for="pokedex">Enter Pokedex</label>
            <input type="text" class="form-control" id="pokedex" name="pokedex" aria-describedby="pokedex" placeholder="Enter Pokedex Number" maxlength="6">
        </div>
        <button type="submit" class="btn btn-primary" name="form2">Search</button>
    </fieldset>
</form>

<form method = "POST">
    <fieldset>
        <legend>Add Pokemon</legend>
        <div class="form-group">
            <label for="captureID">Enter captureID</label>
            <input type="text" class="form-control" id="captureID" name="captureID" aria-describedby="captureID" placeholder="Enter Capture ID" maxlength="6">
            <hr>
            <label for="trainerID">Trainer ID</label>
            <input type="text" class="form-control" id="trainerID" name="trainerID" aria-describedby="trainerID" placeholder="Enter Trainer ID" maxlength="6">
            <hr>
            <label for="pokedexNumber">Pokedex Number</label>
            <input type="text" class="form-control" id="pokedexNumber" name="pokedexNumber" aria-describedby="pokedexNumber" placeholder="Enter Pokedex Number" maxlength="6">
            <hr>
            <label for="pokemonLevel">Pokedex Level</label>
            <input type="text" class="form-control" id="pokemonLevel" name="pokemonLevel" aria-describedby="pokemonLevel" placeholder="Enter Pokemon Level " maxlength="6">
        </div>
        <button type="submit" class="btn btn-primary" name="form3">Add</button>
    </fieldset>
</form>

<br>

<table border ="1">

    {% for item in trainer_labels %}
    <tr>
        <th>Trainer Name</th>
        <th>Gender</th>
        <th>Funds</th>
        <th>Number of Badges</th>
    </tr>
    {% endfor %}

    {% for item in trainer_data %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
    </tr>
    {% endfor %}
</table>

<table border = "1">
{% for item in data %}
<tr>
    <td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
    <td>{{item[4]}}</td>
    <td>{{item[5]}}</td>
    <td>{{item[6]}}</td>
    <td>{{item[7]}}</td>
    <td>{{item[8]}}</td>
    <td>{{item[9]}}</td>
    <td>{{item[10]}}</td>
</tr>
{% endfor %}
</table>

<table border ="1">
    {% for item in pokedex_labels %}
    <tr>
        <th>Pokemon Name</th>
        <th>Pokedex Number</th>
        <th>Type 1</th>
        <th>Type 2</th>
        <th>Egg Group 1</th>
        <th>Egg Group 2</th>
    </tr>
    {% endfor %}

    {% for item in pokedex_data %}

    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
    </tr>
    {% endfor %}
</table>


<!--Table for Collections-->
<table border ="1">
    {% for item in collection_labels %}
    <tr>
        <th>Trainer ID</th>
        <th>Nickname</th>
        <th>Pokemon Name</th>
        <th>Level</th>
        <th>Nature</th>
        <th>Type 1</th>
        <th>Type 2</th>
        <th>In Roster?</th>
    </tr>
    {% endfor %}

    {% for item in collection_data %}

    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
        <td>{{item[7]}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}